---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - carbonawarepolicy.rossf7.github.io
  resources:
  - carbonawarekarmadapolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - carbonawarepolicy.rossf7.github.io
  resources:
  - carbonawarekarmadapolicies/finalizers
  verbs:
  - update
- apiGroups:
  - carbonawarepolicy.rossf7.github.io
  resources:
  - carbonawarekarmadapolicies/status
  verbs:
  - get
  - patch
  - update
